
<!DOCTYPE html>
<html>
    <head>
        <title>Twitter clone</title>
        <link rel="shortcut icon" href="../../static/favicon.ico" type="image/x-icon">
        <!-- styles -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/styles.css">
    </head>
    <body>
        <div class="container body-container">

            <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Twitter clone</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

            <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i>{{username}}</a></li>
            <li><a href="/logout?next=%2F{{username}}"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>

      </ul>
    </div>
  </div>
</nav>


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

        <div class="row">
            <form role="form" action="" method="POST">
    		  <div class="form-group">
                <textarea class="form-control" name="tweet" placeholder="Write your tweet here..." required></textarea>
    		  </div>
    		  <button type="submit" class="btn btn-info pull-right">Submit</button>
    		</form>
        </div>
        
        {% with messages = get_flashed_messages() %}
           {% if messages %}
              {% for message in messages %}
                 {{ message }}
              {% endfor %}
           {% endif %}
        {% endwith %}


        <div class="row">

            {% for tweet in tweets %}
            <div class="well well-large">

                <form action="/tweets/{{tweet.tweet_id}}/delete?next={{urlroot}}{{username}}" method="POST">
                    <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                </form>


                <div>
                    <strong>@{{username}} {{tweet.created}}</strong>
                    <span class="label label-primary">{{tweet.current}}</span>
                </div>
                <div>{{tweet.content}}</div>


            </div>
            {% endfor %}

        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

        </div>
    </body>

    <!-- scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
</html>
