{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form role="form" action="" method="POST">
		  <div class="form-group">
		    <label for="username">Username</label>
		    <input class="form-control" name="username" placeholder="Your username">
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" name="password" placeholder="Your password">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
    </div>
</div>
{% endblock %}
